.App {
  background: url("./l.jpg");
  
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
}
.App h2{

  font-size: 30px;
  margin-bottom: 50px;  
  color: aqua;
  border: 2px solid orange;
  display: inline-block;
  padding: 10px;
  
}

.App span {
  display: inline-block;
  font-size: 35px;
  text-transform: capitalize;
  color: aqua;
  margin:  0 5px;
 
  
}

.App span b {
  border: 2px solid orange;
  padding: 10px;
  color: orange;
}

.App img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}